/* About.css */

/* Стилі для блоку "Новий гіпермаркет міста Львів" */
.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .square {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Підняти вміст вгору */
    align-items: center;
    margin-top: -180px; /* Додати відступ зверху */
  }
  
  .square p {
    font-size: 24px; /* Збільшити розмір тексту */
    margin-bottom: 20px; /* Додати відступ вниз */
  }
  
  .square img {
    width: 1100px; /* Збільшити ширину фото */
    height: 400px; /* Збільшити висоту фото */
  }
  
  /* Стилі для блоку холодильника */
  /* About.css */

/* ... (інші стилі) */

/* Стилі для блоку холодильника */
.seller-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: -120px; /* Збільшимо відступ зверху від попереднього блоку */
    margin-bottom: 30px; /* Відступ знизу від поточного блоку */
  }
  
  .seller-container .into {
    text-align: left; /* Вирівнювання тексту по центру */
    margin-right: 20px; /* Відступ справа між блоками */
  }
  
  .seller-container img {
    width: 300px; /* Розмір зображення холодильника */
    height: auto; /* Автоматична висота для зображення */
    order: 2
  }
  
  /* Стилі для блоку телевізора */
  .tv-product {
    display: flex;
    justify-content: center; /* Вирівняти вміст ліворуч */
    align-items: center;
    margin-top: -300px; /* Збільшимо відступ зверху від попереднього блоку */
    margin-bottom: 30px; /* Відступ знизу від поточного блоку */
  }
  
  .tv-product .into {
    text-align: center; /* Вирівняти текст ліворуч */
    margin-left: 20px; /* Відступ зліва між блоками */
    order: 1; /* Змінюємо порядок тексту та кнопки в контейнері (для вирівнювання тексту ліворуч) */
  }
  
  .tv-product img {
    width: 300px; /* Розмір зображення телевізора */
    height: auto; /* Автоматична висота для зображення */
    order: 2; /* Змінюємо порядок зображення в контейнері (для вирівнювання тексту ліворуч) */
  }


  .Cooker-product {
    display: flex;
    justify-content: right;
    align-items: right;
    margin-top: -400px; /* Збільшимо відступ зверху від попереднього блоку */
    margin-bottom: 30px; /* Відступ знизу від поточного блоку */
  }
  
  .Cooker-product .into {
    text-align: right; /* Вирівнювання тексту ліворуч */
    margin-right: 20px; /* Відступ справа між блоками */
  }
  
  .Cooker-product img {
    width: 300px; /* Розмір зображення змішувача */
    height: auto; /* Автоматична висота для зображення */
    order: 2; /* Змінюємо порядок зображення в контейнері (для вирівнювання тексту ліворуч) */
  }
  
  
  